[Unit]
Description=Hue web server
Documentation=http://unix.stackexchange.com/a/326354/5132
Want=network-online.target
After=network-online.target

[Service]
User=hue
Group=hadoop
WorkingDirectory=/usr/lib/hue/
PIDFile = /var/run/hue/hue.pid
RuntimeDirectory=hue
Environment=PYTHON_EGG_CACHE=/tmp/.hue-python-eggs
ExecStart=/usr/bin/env build/env/bin/hue runcherrypyserver
SyslogIdentifier=hue

[Install]
WantedBy=multi-user.target
