[Unit]
Description=History Server
After=network.target
After=systemd-user-sessions.service

[Service]
User=mapred
Type=forking
Restart=always
PermissionsStartOnly=true
EnvironmentFile=/etc/default/hadoop-systemd
EnvironmentFile=/etc/default/hadoop-mapreduce-historyserver-systemd
EnvironmentFile=/etc/profile.d/java-systemd.sh
ExecStartPre=/bin/install -d -m 0755 -o mapred -g hadoop /var/run/hadoop-mapreduce
ExecStart=/usr/lib/hadoop-mapreduce/sbin/mr-jobhistory-daemon.sh start historyserver
ExecStop=/usr/lib/hadoop-mapreduce/sbin/mr-jobhistory-daemon.sh stop historyserver
SyslogIdentifier=mapreduce-historyserver
[Install]
WantedBy=multi-user.target
