[Unit]
Description=HDFS Secondary Namenode
After=network.target
After=systemd-user-sessions.service

[Service]
User=hdfs
Group=hadoop
Type=forking
Restart=no
PermissionsStartOnly=true
EnvironmentFile=/etc/default/hadoop-systemd
EnvironmentFile=/etc/default/hadoop-hdfs-secondarynamenode-systemd
EnvironmentFile=/etc/profile.d/java-systemd.sh
ExecStartPre=/bin/install -d -m 0755 -o hdfs -g hdfs /var/run/hadoop-hdfs
ExecStart=/usr/lib/hadoop/sbin/hadoop-daemon.sh --config /etc/hadoop/conf start secondarynamenode
ExecStop=/usr/lib/hadoop/sbin/hadoop-daemon.sh --config /etc/hadoop/conf stop secondarynamenode
SyslogIdentifier=hdfs-secondarynamenode
[Install]
WantedBy=multi-user.target

