[Unit]
Description=Apache ZooKeeper
Want=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/sh -c 'set -x; . /etc/zookeeper/conf/zookeeper-env.sh; CLASSPATH="/usr/lib/zookeeper/zookeeper.jar:/usr/lib/zookeeper/lib/*:$CLASSPATH"; CLASSPATH="$(. /usr/lib/zookeeper/bin/zkEnv.sh ; echo $CLASSPATH)"; mkdir -p /var/log/zookeeper; $JAVA "-Dzookeeper.log.dir=/var/log/zookeeper" "-Dzookeeper.root.logger=$ZOO_LOG4J_PROP" -cp "$CLASSPATH" $JAVA_OPTS -Dzookeeper.log.threshold=INFO "$ZOOMAIN" "$ZOOCFG"'
Restart=always
RemainAfterExit=no
SyslogIdentifier=zookeeper
User=zookeeper
Group=zookeeper

[Install]
WantedBy=multi-user.target
