[Unit]
Description=Starts and stops a Kibana 4 instance
Documentation=https://www.elastic.co/products/kibana

[Service]
Type=simple
User=kibana
Group=kibana
PermissionsStartOnly=true
ExecStartPre=/bin/install -d -m 0755 -o kibana -g kibana /var/log/kibana
ExecStart=/usr/lib/kibana4/bin/kibana -c /etc/kibana4/conf/kibana.yml  -l /var/log/kibana/kibana4.log
PIDFile=/var/run/kibana/kibana4.pid
RuntimeDirectory=kibana


[Install]
WantedBy=multi-user.target
