[Unit]
Description=Starts and stops a single grafana instance on this system
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/sysconfig/grafana
User=grafana
Group=grafana
Type=simple
Restart=on-failure
PIDFile=/var/run/grafana/grafana.pid
RuntimeDirectory=grafana
WorkingDirectory=/usr/lib/grafana
ExecStart=/usr/lib/grafana/bin/grafana-server                                \
                            --config=${CONF_FILE}                 \
                            --pidfile=${PID_FILE}                 \
                            cfg:default.paths.logs=${LOG_DIR}     \
                            cfg:default.paths.data=${DATA_DIR}    \
                            cfg:default.paths.plugins=${PLUGINS_DIR}
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
