# set java.rmi.server.hostname to the flume collector hostname

#export FLUME_AGENT_ADDITIONAL_PARAMETERS=" -Dcom.sun.management.jmxremote.port=54323 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false -Djava.rmi.server.hostname=<flume_collector_hostname>"